<section class="sectioncontainer">
<div class="container" id="container" #container>
	<div class="form-container sign-up-container">
		<form [formGroup]="DataForm" (ngSubmit)="PreviewData()">
			<h1>Création compte Invité</h1>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
            <input type="password" placeholder="Confirm Password"/>
			<button>Créer un compte invité</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form [formGroup]="DataForm" (ngSubmit)="PreviewData()">
			<h1>Création compte Etudiant</h1>
			<input type="email" placeholder="Numéro etudiant" />
			<input type="password" placeholder="Password"/>
            <input type="password" placeholder="Confirm Password"/>
			<button>Créer un compte Etudiant </button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Vous êtes étudiant ?</h1>
				<p>Créer un compte étudiant !</p>
				<button class="ghost" id="signIn" (click)="leftpanelactive(container)">Création compte étudiant</button>
                <p>Vous possédez déjà un compte ?</p>
                <a routerLink="/formLogin"><button class="ghost" id="signUp" >Se connecter</button></a>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Vous êtes extérieur à l'école ?</h1>
				<p>Créez un compte Invité !</p>
				<button class="ghost" id="signUp" (click)="rightpanelactive(container)">Création compte invité</button>
                <p>Vous possédez déjà un compte ?</p>
                <a routerLink="/formLogin"><button class="ghost" id="signUp" >Se connecter</button></a>
			</div>
		</div>
	</div>
</div>
</section>

<script>
const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});


signInButton.addEventListener('click', () => {
    container.classList.remove("right-panel-active");
});
</script>