<nav class="navbar">
    <ul>
        <li>
            <a routerLink="/home">
                <fa-icon [icon]=faUser></fa-icon>
                <p>Profile</p>
            </a>
        <li>
            <a routerLink="/formCompany">
                <p>Form Company</p>
            </a>
        </li>
        <li >
            <a routerLink="/formEtudiant">
                <p>Form Etudiant</p>
            </a>
        </li>
        <li>
            <a routerLink="/formLogin">
                <p>Form login</p>
            </a>
        </li>
        <li>
            <a routerLink="/formRegistration">
                <p>Form registration</p>
            </a>
        </li>
    </ul>
</nav>