ul
 {

height:
70px;

list-style-type:
none;

margin:
0;

padding:
0;

overflow:
hidden;

position:
fixed;

top:
0;

width:
100vw;

z-index:
99999;

border-color:
#f7f0cb;

border-width:
2px;

border-radius:
0px
0px
3px
3px;

box-shadow:
0
4px
8px
0
rgba(0,0,0,0.5);

background-color:
#ffffff;
}


li
 {

float:
left;

width:
20%;
}


li
a {

display:
block;

color:
rgb(31,
22,
22);

text-align:
center;

padding:
14px
16px;

text-decoration:
none;
}


/* Change the link color to #111 (black) on hover */
li
a:hover {

background-color:
#f7f0cb;

color:#034f71;
}
.navbar{
display:
 flexbox;
}
