

    <section style="background-color: #e30000; height: 100%;">


  <div class="container-xl px-4 mt-4">

      <hr class="mt-0 mb-4">
      <div class="row">
          <div class="col-xl-4">
              <!-- Profile picture card-->
              <div class="card mb-4 mb-xl-0">

                  <div class="card-body text-center">
                      <!-- Profile picture image-->
                      <img class="img-account-profile rounded-circle mb-2" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar">
                      <!-- Profile picture help block-->
                      <div class="small font-italic text-muted mb-4"><h5>{{guest.name}}</h5></div>

                      <!-- Profile picture upload button-->

                  </div>
              </div>
          </div>
          <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                  <div class="card-header">Informations </div>
                  <div class="card-body">



                          <!-- Form Row-->
                          <div class="row gx-3 mb-3">
                              <!-- Form Group (first name)-->
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputFirstName">Nom et Prénom </label>
                                  <div class="small font-italic text-muted mb-4">{{guest.name}}</div>
                              </div>
                          </div>
                          <!-- Form Row        -->
                          <div class="row gx-3 mb-3">
                              <!-- Form Group (organization name)-->
                              <div class="col-md-6">
                                  <label class="small mb-1" for="inputOrgName">Entreprise</label>
                                  <div class="small font-italic text-muted mb-4">{{guest.company}}</div>


                              </div>
                              <!-- Form Group (location)-->

                          </div>
                          <!-- Form Group (email address)-->
                          <div class="mb-3">
                              <label class="small mb-1" for="inputEmailAddress">Email</label>
                              <div class="small font-italic text-muted mb-4">{{guest.email}}</div>
                          </div>


                  </div>
              </div>
          </div>
      </div>
  </div>
  </section>
