<section style="background-color: #e30000;">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{ProfileCardData[0].name}}</h5>
              <p class="text-muted mb-1">Fonction : {{ProfileCardData[0].job}}</p>
              <p class="text-muted mb-4">Entreprise : {{ProfileCardData[0].company}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email :</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ProfileCardData[0].email}} </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone :</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> {{ProfileCardData[0].phone}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Résidence :</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"> {{ProfileCardData[0].adress}}</p>
                </div>
              </div>
              <hr>
              <div class="row d-flex justify-content-center">
                <div class="col-sm-3">
                  <p class="mb-0 ">QRCODE</p>
                </div>
               <hr>
              </div>
              <div class="row">
                <div class="col-sm-3">
                <app-qr-code-component></app-qr-code-component>
                </div>
              </div>
            </div>
          </div>
          
           